* {
  max-width: 1536px;
  font-family: sans-serif;
  margin: auto;
}

body {
  width: 100%;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3rem;
  padding: 3rem;
}
.containers {
  max-width: 1536px;
  margin: auto;
  padding-inline: 0.5rem;
  position: relative;
}
.itmCont {
  position: relative;
}
.itmInCart {
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -10px;
  font-size: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
}
/* product.js */
.input {
  background-color: rgb(186, 190, 194);
  display: flex;
  padding-block: 0.8rem;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}
.input input {
  background: none;
  outline: none;
  border: none;
  width: 80%;
}
.proccedtocart {
  background-color: rgba(228, 226, 226, 0.9);
  align-items: center;
  display: flex;
  width: max-content;
  padding: 14px;
  position: fixed;
  top: 60px;
  cursor: pointer;
}

/* items component styling */
.item-container {
  padding: 1px;
  border: 1px solid rgb(221, 221, 221);
}
.item-container img {
  height: 300px;
  width: 300px;
}
.item-cont {
  display: flex;
  padding: 1rem3;
}

.item-info div {
  font-weight: bold;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.item-info span {
  font-weight: 100;
  color: rgb(79, 78, 78);
}

.item-container button {
  background-color: blue;
  padding: 10px;
  border: none;
  color: white;
}
.item-container button:active {
  background-color: rgb(10, 3, 77);
}

/* navigation bar styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100vw;
}
.router-cont a,
nav span {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-family: monospace;
  font-size: 17px;
}

.router-cont {
  display: flex;
  gap: 1rem;
}
.router-cont div:active {
  color: blue;
}
.logo-cont {
  background-image: url("../../../public/images/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 5rem;
  width: 7rem;
  margin-bottom: 0.5rem;
}
.navigation {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.icon-container {
  display: flex;
  gap: 0.6rem;
}

/* banner component styling */
.banner-cont {
  height: 30rem;
  position: relative;
  background-color: rgb(56, 63, 97);
  border-radius: 0px 0px 7rem 0px;
}
.banner-cont img {
  position: absolute;
  height: 20rem;
  top: 25%;
}

/* Login.js css */
.login-form-container {
  margin-block: 6rem;
  position: relative;
}
.login-form-container form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 3rem;
}
.login-form-container form .email,
.login-form-container form .password,
.login-form-container form .username {
  width: 80%;
  display: flex;
  border: none;
  background-color: rgb(223, 222, 222);
  padding: 1rem;
}
.login-form-container input {
  background: none;
  border: none;
  outline: none;
  margin-inline-start: 10px;
}
.close {
  position: absolute;
  right: 10%;
  top: -5rem;
  border: 1px solid rgb(219, 215, 215);
  padding: 2px;
  color: rgb(107, 107, 107);
}

.login-form-container input[type="submit"] {
  width: 85%;
  margin-inline-start: auto;
  padding: 1rem;
  border: none;
  background-color: blue;
  color: white;
}
.login-form-container .icons {
  margin-inline: 0;
}
.nuelmat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-bottom: 1.5rem;
}

/* cart.js style */
.cart-itemBox {
  display: flex;
  margin: 1rem;
  background-color: rgb(237, 236, 236);
  justify-content: space-around;
  border: 1px solid rgb(205, 204, 204);
  overflow: hidden;
  height: 3.5rem;
}

.cart-itemBox img {
  height: auto;
  width: 50px;
}
.cart-itemBox div {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  text-align: center;
}
.cart-itemBox select {
  border: none;
  outline: none;
  background: none;
}
.checkout {
  background-color: rgb(213, 212, 212);
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
}
.checkout input {
  background-color: yellow;
  border: none;
  padding: 1rem;
}
/* shippingjs */
.shippingNav {
  display: flex;
  width: fit-content;
  gap: 3rem;
  padding: 1rem;
}
.shipping span {
  font-family: monospace;
  font-weight: bold;
  color: initial;
  font-size: 17px;
  cursor: pointer;
}
.shippingNav-cont {
  display: flex;
  justify-content: flex-start;
  width: inherit;
}
.cost-cont {
  display: flex;
  flex-direction: row;
}
.continueCART {
  display: flex;
}
.shippingInfo {
  background-color: rgb(202, 200, 200);
  padding: 2rem;
  text-align: center;
}
.payment {
  display: flex;
  margin-inline: auto;
  margin-block: 3rem;
  width: max-content;
  gap: 3rem;
}
.payment .method {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 2rem;
}
input[type="button"] {
  background-color: yellow;
  border: none;
  padding: 1rem;
}
.method div {
  display: flex;
  align-items: center;
  gap: 2px;
}
 #accountNumber {
  font-size: 3rem;
  font-family: monospace;
  font-weight: bolder;
  margin-block: 1rem;
}
#accountNumber p {
  font-size: small;
  font-weight: lighter;
}
.location {
  margin-block: 2rem;
}
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
    font-size: 17px;
  }
  .login-form-container {
    max-width: 700px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
    font-size: 16px;
  }
  /* items.js component styling */
  .item-container img {
    height: 230px;
    width: 230px;
  }
  .item-info div {
    font-size: small;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    font-size: 15px;
  }
  .box {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  /* items.js component styling */
  .item-container img {
    height: 230px;
    width: 230px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    font-size: 14px;
  }
  .box {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  /* items.js /register.js component styling */
  .item-container img {
    height: 280px;
    width: 280px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475;
    font-size: 13px;
  }
  .box {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  /* items.js component styling */
  .item-container img {
    height: 310px;
    width: 320px;
  }
  .login-form-container form {
    border: none;
  }
  .checkout {
    flex-direction: column;
  }
}
@media (max-width: 475px) {
  .container {
    width: 100%;
    font-size: 12px;
  }
  /* items.js component styling */
  .item-container img {
    height: 290px;
    width: 300px;
  }
}
